/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --primary: #0a192f;
  --light-primary: #112240;
  --lightest-primary: #233554;
  --secondary: #8892b0;
  --light-secondary: #a8b2d1;
  --lightest-secondary: #ccd6f6;
  --white: #e6f1ff;
  --accent: #64ffda;
  --hover: #32d5b7;

  --ff-sans: 'Karla', sans-serif;
  --ff-mono: 'Space Mono', monospace;
}

body {
  font-family: var(--ff-sans);
  background-color: var(--primary);
  color: var(--white);
  position: relative;
  background: transparent;
}

body::before {
  content: '';
  position: fixed;
  background: var(--primary);
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-sans);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: var(--ff-mono);
}

#header h1 a {
  color: var(--lightest-secondary);
  line-height: 1;
  display: inline-block;
}

#header h1 a:hover {
  color: var(--accent);
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: var(--light-secondary);
}

#header h2 span {
  color: var(--white);
  border-bottom: 2px solid var(--accent);
  padding-bottom: 6px;
}

#header img {
  padding: 0;
  margin: 0;
}

#header .social-links {
  margin-top: 40px;
  display: flex;
  gap: 18px;
}

#header .social-links a {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  line-height: 1;
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.3s;
}

#header .social-links a:hover {
  color: var(--accent);
  transform: translateY(-3px);
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .social-links {
    margin-top: 15px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Header Top */
#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(10, 25, 47, 0.9);
  padding: 15px;
  display: flex;
}

#header.header-top .social-links,
#header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 24px;
}

#header.header-top h1 a {
  color: var(--accent);
  line-height: 1;
  display: inline-block;
}

#header.header-top h1 a:hover {
  color: var(--lightest-secondary);
}

#header.header-top img {
  max-height: 60px;
  margin-right: 20px !important;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 20px;
  }

  #header .container {
    text-align: center;
  }

  #header .container h2 {
    line-height: 2.25rem;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li + li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-size: 16px;
  font-family: var(--ff-mono) !important;
  font-weight: 400;
  color: var(--secondary);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 16px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--accent);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--accent);
}

.navbar li:last-child {
  border: 1px solid var(--accent);
  border-radius: 0.25rem;
  padding: 10px 16px;
}

.navbar li:last-child:hover {
  box-shadow: 3px 3px var(--accent);
  transform: translate(-3px, -3px);
}
.navbar li:last-child a {
  color: var(--accent);
}

.navbar li:last-child a::before {
  all: unset;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--white);
  font-size: 32px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(10, 25, 47, 0.98);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgba(230, 241, 255, 0.2);
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li + li {
  margin: 0;
}

.navbar-mobile li:last-child {
  margin-top: 30px;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 18px;
  position: relative;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background: rgba(10, 25, 47, 0.9);
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--secondary);
  font-family: var(--ff-sans);
}

.section-title h2::after {
  content: '';
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--accent);
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--ff-mono);
  color: var(--white);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-me .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: var(--accent);
  font-family: var(--ff-mono);
}

.avatar {
  border-radius: 50%;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-me .content ul strong {
  margin-right: 10px;
}

.about-me .content ul i {
  font-size: 18px;
  margin-right: 5px;
  color: var(--accent);
  line-height: 0;
}

.about-me .content p {
  font-size: 18.5px;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

.about-me span {
  color: var(--accent);
  text-decoration: none;
}

.about-me span.underline {
  color: var(--white);
  border-bottom: 2px solid var(--accent);
}

.col-lg-8.pt-4.pt-lg-0.content {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(230, 241, 255, 0.08);
  transition: ease-in-out 0.3s;
  gap: 10px;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 400;
  font-family: var(--ff-mono);
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: var(--white);
}

.interests .icon-box:hover {
  background: rgba(230, 241, 255, 0.12);
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(230, 241, 255, 0.12);
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: var(--white);
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(230, 241, 255, 0.25);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: rgba(230, 241, 255, 0.1);
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(230, 241, 255, 0.3);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent);
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--white);
  background: rgba(230, 241, 255, 0.1);
  margin: 0 3px 10px 3px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: var(--secondary);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(10, 25, 47, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: '';
  background: rgba(10, 25, 47, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: '';
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid var(--white);
  border-left: 3px solid var(--white);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: '';
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid var(--white);
  border-right: 3px solid var(--white);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: var(--white);
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: var(--white) fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: var(--white);
  margin: 0 2px;
  font-size: 32px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: var(--hover);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
  background: rgba(10, 25, 47, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 40px;
}

.portfolio-details .portfolio-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 16px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

.portfolio-details .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(230, 241, 255, 0.3);
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  border-radius: 0.25rem;
  color: #444444;
  padding: 20px;
  width: 100%;
  background: rgba(230, 241, 255, 0.08);
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact .info-box i.bx {
  font-size: 24px;
  color: var(--accent);
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(230, 241, 255, 0.1);
}

.contact .info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact .info-box h3 {
  color: rgba(230, 241, 255, 0.5);
  font-family: var(--ff-mono);
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 4px;
}

.contact .info-box p {
  padding: 0;
  font-size: 16px;
  font-family: var(--ff-sans);
  font-weight: 400;
  color: var(--white);
  margin: 0;
}

.contact .info-box .social-links {
  margin: 5px 0 0 0;
  display: flex;
}

.contact .info-box .social-links a {
  font-size: 20px;
  display: inline-block;
  color: var(--white);
  line-height: 1;
  margin-right: 15px;
  transition: 0.3s;
}

.contact .info-box .social-links a:hover {
  color: var(--hover);
}

.contact .php-email-form {
  border-radius: 0.25rem;
  padding: 30px;
  background: rgba(230, 241, 255, 0.08);
}

.contact .php-email-form .error-message {
  display: none;
  background: #ed3c0d;
  color: var(--white);
  text-align: left;
  padding: 15px;
  font-family: var(--ff-mono);
  font-weight: 700;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  background: rgba(230, 241, 255, 0.08);
  color: var(--accent);
  text-align: center;
  padding: 15px;
  font-family: var(--ff-mono);
  font-weight: 700;
}

.contact .php-email-form .loading {
  display: none;
  background: rgba(230, 241, 255, 0.08);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent);
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 18px;
  background: rgba(230, 241, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: var(--white);
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  background-color: rgba(230, 241, 255, 0.11);
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: rgba(230, 241, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: rgba(230, 241, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input {
  border-radius: 0.25rem;
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  border-radius: 0.25rem;
  padding: 12px 15px;
}

.contact .php-email-form button[type='submit'] {
  font-family: var(--ff-mono);
  background: transparent;
  border: 1px solid var(--accent);
  padding: 10px 30px;
  color: var(--accent);
  transition: 0.3s;
  border-radius: 0.25rem;
}

.contact .php-email-form button[type='submit']:hover {
  box-shadow: 3px 3px var(--accent);
  transform: translate(-3px, -3px);
}

button[type='submit']:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/
.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 12px;
  color: var(--white);
  z-index: 999999;
}

@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgba(10, 25, 47, 0.8);
  }
}

.credits a {
  color: var(--accent);
  transition: 0.3s;
}

.credits a:hover {
  color: var(--hover);
}

/* Floating Squares */

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: var(--lightest-primary);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
